@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* GENERIC */
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.purple {
    color: #6415FF;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* LANDING */
nav {
    height: 80px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 50px;
    width: 50px;
    margin-right: 16px;
}

.nav__link {
    font-size: 16px;
    color: #242424;
    font-weight: bold;
    margin-left: 32px;
}

li:nth-child(5) {
    margin-left: 64px;
}

.nav__links {
    display: flex;
}

.nav__link--primary {
    background-color: #6415FF;
    color: white;
    padding: 12px 32px;
    border-radius: 50px;
}

/* LANDING */
.landing__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__description--wrapper {
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.landing__description--title {
    font-size: 32px;
}

.landing__description--para {
    font-size: 20px;
}

.landing__description--form {
    border: 2px solid lightgrey;
    border-radius: 50px;
    padding: 12px;
}

.landing__description--btn {
    color: white;
    background-color: #6415FF;
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
}

.landing__description--input {
    border: none;
    font-size: 20px;
    margin: 0 28px 0 16px;
}

.landing__description--title,
.landing__description--para,
.landing__description--form {
    margin-bottom: 32px;
}

.landing__img--customers {
    margin-top: 8px;
}

.landing__img--wrapper {
    display: flex;
    width: 60vw;
}

.landing__img,
.landing__img--customers {
    width: 100%;
}