@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* GENERIC */
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.purple {
    color: #6415FF;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.btn {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

/* NAV BAR */
nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 32px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.nav__logo--title {
    color: #242424;
}

.nav__link {
    font-size: 16px;
    color: rgba(32, 34, 36, 0.8);
    font-weight: bold;
    margin-left: 32px;
}

li:nth-child(5) {
    margin-left: 64px;
}

.nav__links {
    display: flex;
}

.nav__link--primary {
    background-color: #6415FF;
    color: white;
    padding: 12px 32px;
    border-radius: 50px;
}

/* LANDING */
.landing__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__description--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-right: 32px;
}

.landing__description--title {
    font-size: 32px;
}

.landing__description--para {
    font-size: 16px;
}

.landing__description--form {
    position: relative;
    text-align: center;
}

.landing__description--btn {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: #6415FF;
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0.7rem;
    margin-top: 0.7rem;
}

.landing__description--input {
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 50px;
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 500;
    height: 75px;
}

.landing__description--title,
.landing__description--para,
.landing__description--form {
    margin-bottom: 32px;
}

.landing__img--customers {
    margin-top: 8px;
}

.landing__description--customers--para {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(160, 174, 192, 0.95);
}

.landing__img--wrapper {
    display: flex;
    width: 60%;
}

.landing__img,
.landing__img--customers {
    width: 100%;
}

/* FEATURES */
.features__title--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.features__title,
.features__title--headline {
    margin-bottom: 24px;
}

.features__title {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.features__title--headline {
    font-size: 50px;
    color: rgb(31, 35, 39);
    font-weight: 700;
}

.features__title--para {
    color: rgba(82, 89, 97, 0.95);
    width: 50%;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    margin-bottom: 48px;
}

.service__img--wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 32px;
}

.service__img {
    border: 1px solid rgba(82, 89, 97, 0.2);
    border-radius: 50%;
    padding: 1.25rem;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__description--title {
    margin-bottom: 24px;
    color: rgb(31, 35, 39);
}

.service__description--para {
    color: rgba(82, 89, 97, 0.95);
    line-height: 2;
}

/* QUALITY */
.quality__description {
    display: flex;
}

.quality__description--wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quality__title {
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 24px;
}

.quality__headline {
    font-size: 50px;
    color: rgb(31, 35, 39);
    font-weight: 700;
    margin-bottom: 16px;
}

.quality__para {
    line-height: 2;
    color: rgba(82, 89, 97, 0.95);
    margin-bottom: 32px;
    font-weight: 500;
}

.quality__btn {
    width: 175px;
    color: white;
    background-color: #6415FF;
    border: none;
    border-radius: 50px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
}

.quality__img--wrapper {
    display: flex;
    width: 50%;
    margin-left: 48px;
}

.quality__img {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

/* STEPS */
.steps__container {
    display: flex;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img {
    width: 100%;
}

.steps__description--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.steps__title {
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 24px;
}

.steps__headline {
    font-size: 50px;
    color: rgb(31, 35, 39);
    font-weight: 700;
    margin-bottom: 16px;
}

.step {
    display: flex;
    margin-top: 20px;
}

.step__num {
    display: flex;
    font-size: 30px;
    font-weight: 500;
    color: #a8acad;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    max-width: 320px;
}

.step__description--title {
    margin-bottom: 12px;
    color: rgb(31, 35, 39);
}

.step__description--para {
    line-height: 2;
    color: rgba(82, 89, 97, 0.95);
    font-weight: 500;
}

/* VALUES */
.values__img--wrapper {
    display: flex;
    width: 50%;
    margin-left: 48px;
}

.values__img {
    width: 100%;
}

.values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.value:nth-last-child(odd) {
    margin-left: 20px;
}

.value__headline {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.value__img {
    display: flex;
    justify-content: center;
    margin-right: 12px;
}

.fa-dollar-sign {
    background-color: #82ac82ce;
    border-radius: 50%;
    padding: 16px 20px;
}

.fa-suitcase {
    background-color: #ff8080a8;
    border-radius: 50%;
    padding: 1rem;
}

.value__title {
    font-size: 20px;
}

.value__para {
    line-height: 1.5;
    color: rgba(82, 89, 97, 0.95);
    font-weight: 500;
    letter-spacing: 1.25;
}

/* PRICING */
.pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__title,
.pricing__headline,
.pricing__para {
    margin-bottom: 32px;
}

.pricing__title {
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 24px;
}

.pricing__headline {
    font-size: 50px;
    color: rgb(31, 35, 39);
    font-weight: 700;
}

.pricing__para {
    line-height: 1.5;
    color: rgba(82, 89, 97, 0.95);
    font-weight: 500;
    letter-spacing: 1.25;
    width: 100%;
    max-width: 500px;
}

.pricing__plans {
    display: flex;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 24px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px 0px;
}

.plan__1 {
    border: 1px solid #babfc0da;
    border-radius: 12px;
}

.plan__1--top {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 8px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.plan__name,
.plan__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.plan__title {
    font-weight: 700;
    font-size: 20px;
}

.plan__price {
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}

.plan__payment {
    color: #a8acad;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: 20px;
}

.plan__description {
    border-top: 2px solid #a8acad;
    border-bottom: 2px solid #a8acad;
}

.plan__description--header {
    font-weight: 700;
    font-size: 20px;
}

.plan__description--para {
    color:#5f6263d5;
    font-weight: 500;
    margin-top: 20px;
}

.plan__purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.plan__btn {
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border: none;
    border-radius: 50px;
    padding: 16px 60px;
    font-size: 16px;
    font-weight: bold;
}

.plan__2 {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 12px;
}

.plan2__description {
    border-top: 2px solid #5d7cd3;
    border-bottom: 2px solid #5d7cd3;
}

.plan2__btn {
    color: rgb(76, 81, 191);
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 16px 60px;
    font-size: 16px;
    font-weight: bold;
}

.plan2__title {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.plan2__price {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}

.plan2__payment {
    color: #bbbfc0;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: 20px;
}

.plan2__description--header {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.plan2__description--para {
    color:#abafb1ee;
    font-weight: 500;
    margin-top: 20px;
}

.plan__3--top {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    height: 8px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.plan3__btn {
    color: white;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border: none;
    border-radius: 50px;
    padding: 16px 60px;
    font-size: 16px;
    font-weight: bold;
}

/* CONTACT */
.contact__row {
    background-color: rgb(100, 21, 255);
    height: 350px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__para {
    width: 100%;
    max-width: 500px;
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-right: 50px;
}

.start__btn {
    color: white;
    background-color: #eb6363;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 24px;
}

.contact__btn {
    color: white;
    background-color: transparent;
    border: 1px solid #abafb1ee;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: rgb(100, 21, 255);
    width: 100%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #a8acad3b;
    padding-bottom: 60px;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
}

.link__header {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.link__item {
    color: rgba(255, 255, 255, 0.89);
    margin-top: 16px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.footer__info--logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
}

.footer__logo--title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
}

.footer__info--copy {
    color:#abafb1ee;
    font-weight: 700;
}

.footer__info--socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info--social {
    background-color: white;
    color: black;
    height: 32px;
    width: 32px;
    padding: 8px;
    margin-left: 16px;
    border-radius: 50%;
}